// Live page
.page-live {

}
// LiveList components
.live-list {
  padding: 20px;
}
// LiveItem components
.live-item {
  position: relative;
  height: 500px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}